{% extends 'base.html.twig' %}

{% block title %}
    Résultats du sondage {{ survey.title }}
{% endblock %}

{% block body %}
    <h1>Résultats du sondage {{ survey.title }}</h1>
    <div class='form-group'>
        <p>Rappel : {{ survey.question }}</p>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <caption>
            <h2>1 - Synthèse des résultats</h2>
        </caption>
        <tr>
            <th>Proposition</th>
            <th>Résultat</th>
        </tr>
        {% for proposition in survey.propositions %}
            <tr>
                <td>{{ proposition.wording }}</td>
                <td>{{ proposition.answers|length }}</td>
            </tr>
        {% endfor %}
    </table>
    <hr>
    <table id="idresult">
        <thead>
            <th>Proposition</th>
            <th>Navigateur</th>
        </thead>
        <tbody>
        </tbody>
    </table>
    <button type="button" onclick="go()">Jouer</button>
    <ol>
    {% for tes in test %}
        <li>{{ tes.email }}</li>
    {% endfor %}
    </ol>
    <script>
    
    function go() {
        let tabth = idresult.getElementsByTagName("th");
        let th = [];
        for (let i=0;i<tabth.length;i++) {
            th.push(tabth[i].textContent);
            let select = document.createElement("select");
            select.id="id" + tabth[i].textContent;
            tabth[i].textContent="";
            tabth[i].appendChild(select);
        }

        
    }

    </script>
{% endblock %}